.negro {
	background-color: #000;
}
.gris {
	background-color: gray;
}
.blanco {
	background-color: #fff;	
}
.rojo {
	background-color: red;
}

.amarillo {
	background-color: yellow;
}
.verde {
	background-color: green;
}
.fondo {
	background-color: lightgray;
}